.features {
    padding: 15rem 0;
    grid-column: content-start/ content-end;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media only screen and (max-width: $bp-md) {
       padding: 10rem 0 5rem;
     }

    & > * {
        align-items: flex-start;
    }

    &__box {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 2rem;

        p {
            grid-column: 2/ 3;
        }
        svg {
            height: 3rem;
            width: 3rem;
            fill: $color-primary;
            transform: translateY(-5px);
        }
    }
}