.footer {
    background-color: black;
    grid-column: 2/ -1;
    font-family: $font-display;

    @media only screen and (max-width: $bp-large) {
        grid-column: 1/ -1;
     }

    &__list {
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 4rem;
    }
   
    &__link:link,
    &__link:visited {
        display: inline-block;
        padding: 1.4rem 3rem;
        text-decoration: none;
        color: white;
        transition: all .5s;
    }

    &__link:hover {
        transform: translateY(-15px) scale(1.03);
        background-color: rgba(white, .3);
    }
}